langchain
langchain_community
langgraph
IPython
psycopg2
langchain-openai
langchain_groq
langchain_anthropic
python-dotenv
faiss-cpu
langchain-huggingface
pandas
ipykernel
langchain-groq
pydantic
FlagEmbedding
langchain_anthropic
fastapi
pydantic
uvicorn
asyncpg
cachetools
sqlglot
jinja2